qa/qa-new.sh
rag/replace.sh.wip
rag/tree-sitter-bash/
rag/wip.sh

*.aac
*.flv
*.wav
*.swp
.qik
.timecard
.logtime
out
logtime/data
slides/bpm
slides/speed
viewer-tty/
avtool/recordings
./slides/speed
slides/config/configstore/update-notifier-npm.json
*.mkv
*.wav
*.ogg
.backup
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9

