*.aac
*.flv
*.wav
*.swp
.qik
.timecard
.logtime
out
logtime/data
slides/bpm
slides/speed
viewer-tty/
avtool/recordings
./slides/speed
slides/config/configstore/update-notifier-npm.json
*.mkv
*.wav
*.ogg

